body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.title{
    font-size: 36px;
    font-family: sans-serif;
    margin: 24px 0;
}
.pensao{
    width: 420px;
}
.pensao .passoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pensao .passoContainer .subTitle{
    font-size: 30px;
    border-bottom: 1px solid #000000;
    margin:0;
}
.pensao .passoContainer .bottomMargin,
.pensao .passoContainer .aviso{
    margin-bottom: 20px;
}
.pensao .passoContainer .aviso{
    font-size: 12px;
}
.pensao .passoContainer .line{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.pensao .passoContainer .line .labelName{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0 0 4px 16px;
}
.pensao .passoContainer .line input{
    width: 90%;
    height: 36px;
    border: 1px solid #000;
    border-radius: 12px;
    text-align: start;
    margin: 0 auto;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 600;
}
.pensao .passoContainer .line input::placeholder{
    color: #5e5e5e;
}
/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pensao .passoContainer .line .vlrs{
    font-size: 24px;
    margin: 16px 0 0 0;
}
#passo1{
    display: flex;
}
#passo2,
#passo3,
#passo4,
#passo5{
    display: none;
}

.passos{
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #ff3322;
    height: 6px;
    border-radius: 12px;
    margin: 60px auto 120px;
}
.passos .passo{
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #ff3322;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;

}
#selectPass1{
    color: #ffffff;
    background-color: #ff3322;
}
#selectPass2,
#selectPass3,
#selectPass4,
#selectPass5{
    color: #000000;
    background-color: white;
}
.buttonLine{
    display: flex;
    flex-direction: row;
    width: 420px;
    justify-content: space-between;
    padding-bottom: 36px;
}
.buttonLine .btn{
    background-color: #ff3322;
    border-radius:12px;
    width: 120px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
    border: none;
}
.buttonLine .btn:hover{
    background-color: #992222;
    
}
.buttonLine #btnRetorno{
    display: none;
}
.buttonLine #btnProximo{
    display: flex;
    margin: 0 auto;
}
.buttonLine #btnEnvio{
    display: none;
}

@media only screen and (max-width: 480px){
    .title{
        font-size: 32px;
        text-align: center;
    }
    .pensao{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pensao .passoContainer{
        width: 90%;
    }
    .passos{
        width: 90%;
        margin: 36px 0 80px;
    }
    .buttonLine{
        width: 100%;
        justify-content: space-around;
    }
}